{% extends "layout.html" %}
{% block content %}

<div class="container">
	
<div class="row">
	<div class="col-md-4">
        <form class="navbar-form navbar-left" role="form" method="POST">
            <div class="input-group">
                <input type="text" name="zipcode" class="form-control" placeholder="Your Zipcode">
                        <button type="submit" class="btn btn-success">Submit</button>
            </div><!-- /input-group -->
        </form>
	</div><!-- /.col-lg-6 -->


<!-- Single button -->
	<div class="dropdown">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				Choose your Genre <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/horror">Horror</a></li>
				<li><a href="/comedy">Comedy</a></li>
				<li><a href="/drama">Drama</a></li>
			</ul>
	</div>
</div>
<p> Showing results for {{location}}</p>


<div class="col-md-9 col-md-offset-1">
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Movie</th>
                    <th>Theater</th>
                    <th>Rating</th>
                    <th>Hotness</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for entry in movielist %}
                <tr>
                    <td class="col-md-1">{{entry[0]}}</td>
                    <td class="col-md-1">{{entry[1]}}</td>
                    <td class="col-md-2"><img src={{entry[2]}} alt="Movie Thumbnail" style="width:61px;height:91px"></td>
                    <td class="col-md-1">{{entry[3]}}</td>
                    <td class="col-md-4">
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{entry[4]}}%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </td>
                    
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>

</div>
{% endblock %}
