{% extends "top_panel.html" %}
{% block mainpage %}



<!--how to do this properly? -->
 <br><br><br><br>



<div class="col-md-11 col-md-offset-1">
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> </th>
                    <th>Movie</th>
                    <th> </th>
                    <th>Actors</th>
                    <th>Hotness</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for entry in movielist %}
                <tr>
                    <td class="col-md-1">{{entry["index"]}}</td>
                    <td class="col-md-3"><a href={{entry.movlink}}>{{entry["name"]}}</a?</td>
                    <td class="col-md-2"><img src={{entry["thumbnail"]}} alt="Movie Thumbnail" style="width:61px;height:91px"></td>
                    <td class="col-md-2"> {{entry.actors[0]}}<br>{{entry.actors[1]}}<br>{{entry.actors[2]}} </td>
                    <td class="col-md-3">
                        
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{entry["prediction"]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{entry["prediction"]}}%; min-width:20px;">
                                <span> {{entry["prediction"]}}</span>
                            </div>
                        </div>
                    </td>
                    
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>



{% endblock %}
